<!DOCTYPE html> {% extends "layout.html" %} {% block content %}
<br>

<form class="form-horizontal" role="form" autocomplete="off" method="post">

  <h2>Show Listings</h2>
  <br>

  <div class="form-group">
    <label for="comment"> Select Category I.</label>
    <select class="form-control" name="category1">
      <option>----</option>
      {% for category in cate1 %}
        <option>{{ category }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="comment"> Select SubCategory.</label>
    <select class="form-control" name="category2">
      <option>----</option>
      {% for category in cate2 %}
        <option>{{ category }}</option>
      {% endfor %}
    </select>
  </div>

  <br>
  <button class="btn btn-primary" type="submit">Show Listings</button>

  <br><br>
  <div class="container">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Seller</th>
        <th>Ends</th>
        <th>Category</th>
        <th>SubCategory</th>
        <th>Initial Price</th>
        <th>Is Closed</th>
        <th>Is Suspended</th>
      </tr>
    </thead>
    <tbody>
      {% for item in entries %}
        <tr>
          <td>{{ (item['Descripcion']) }}</td>
          <td>{{ item['AliasVendedor'] }}</td>
          <td>{{ item['LimiteCierre'] }}</td>
          <td>{{ item['Categoria'] }}</td>
          <td>{{ item['SubCategoria'] }}</td>
          <td>{{ item['PrecioInicial'] }}</td>
          <td>{{ item['EstaCerrada'] }}</td>
          <td>{{ item['EstaSuspendida'] }}</td>

            <form method="post" class="form-inline">
            <input hidden value="{{ item['id'] }}" name="idItem">
            <td><button class="btn" type="submit">
              BID
            </button></td>
            </form>

        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>




</form>
{% endblock %}
