<!DOCTYPE html> {% extends "layout.html" %} {% block content %}
<form class="form-horizontal" method="post" role="form" autocomplete="off">

  <h2>Modify an Participant</h2>
  <br>

  <div class="form-group">
    <label for="comment"> Select an Participant</label>
    <select class="form-control" name="participantSelect">
      <option>----</option>
      {% for category in agents %}
        <option>{{ category }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="usr">Participant First Name</label>
    <input type="text" class="form-control" name="agentFirstName">
  </div>

  <div class="form-group">
    <label for="usr">Participant Last Name</label>
    <input type="text" class="form-control" name="agentLastName">
  </div>

  <br>
  <button class="btn btn-lg btn-primary" type="submit">Modify Participant</button>

</form>
{% endblock %}
