<!DOCTYPE html> {% extends "layout.html" %} {% block content %}
<form class="form-horizontal" method="post" role="form" autocomplete="off">

  <h2>Modify an Agent</h2>
  <br>

  <div class="form-group">
    <label for="comment"> Select an Agent</label>
    <select class="form-control" name="agentSelect">
      {% for category in agents %}
        <option>{{ category }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="usr">Agent First Name</label>
    <input type="text" class="form-control" name="agentFirstName">
  </div>

  <div class="form-group">
    <label for="usr">Agent Last Name</label>
    <input type="text" class="form-control" name="agentLastName">
  </div>


  <div class="form-group">
    <label for="usr">Agent's Address</label>
    <textarea type="text" class="form-control" name="agentAddress"></textarea>
  </div>
  <br>
  <button class="btn btn-lg btn-primary" type="submit">Modify Agent</button>

</form>
{% endblock %}
