<!DOCTYPE html> {% extends "layout.html" %} {% block content %}
<form class="form-horizontal" method="post" role="form" autocomplete="off">

  <h2>Add a new Agent</h2>
  <br>

  <div class="form-group">
    <label for="usr">Agent First Name</label>
    <input type="text" class="form-control" name="agentFirstName">
  </div>

  <div class="form-group">
    <label for="usr">Agent Last Name</label>
    <input type="text" class="form-control" name="agentLastName">
  </div>

  <div class="form-group">
    <label for="usr">Agent ID</label>
    <input type="text" class="form-control" name="agentId" placeholder="Personal Id">
  </div>

  <div class="form-group">
    <label for="usr">Agent's Address</label>
    <textarea type="text" class="form-control" name="agentAddress"></textarea>
  </div>

  <div class="form-group">
    <label for="usr">Telephone(s)</label>
    <input type="phone" class="form-control" name="telCel" placeholder="Mobile">
    <input type="phone" class="form-control" name="telWork" placeholder="Work">
    <input type="phone" class="form-control" name="telHome" placeholder="Home">
    <input type="phone" class="form-control" name="telOther" placeholder="Other">
  </div>


  <div class="form-group">
    <label for="usr">Agent Alias</label>
    <input type="text" class="form-control" autocomplete="off" name="agentAlias">
  </div>

  <div class="form-group">
    <label for="usr">Agent Password</label>
    <input type="password" class="form-control" autocomplete="off" name="agentPassword">
  </div>

  <br>
  <button class="btn btn-lg btn-primary" type="submit">Add Agent</button>

</form>
{% endblock %}
