<!DOCTYPE html> {% extends "layout.html" %} {% block content %}

<form class="form-horizontal" method="post" role="form">

  <h2>List a new Item</h2>
  <br>

  <div class="form-group">
    <label for="comment"> Category I</label>
    <select class="form-control" name="category1">
      {% for category in cate1 %}
        <option>{{ category }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="comment"> Category II</label>
    <select class="form-control" name="category2">
      {% for category in cate2 %}
        <option>{{ category }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="comment"> Description</label>
    <textarea type="textArea" class="form-control" rows="7" name="description"></textarea>
  </div>

  <div class="form-group">
    <label for="comment"> Listing End Date & Time </label>
    <input type="date" class="form-control" name="listingEndDate">
    <input type="time" step="1" class="form-control" name="listingEndTime">
  </div>

  <div class="form-group">
    <label for="comment"> Starting Price</label>
    <input type="number" class="form-control" name="startingPrice">
  </div>

  <br>
  <label for="comment">Image (optional)</label>
  <span class="btn btn-warning btn-file">
    Browse
    <input type="file" accept="image/*" name="img">
  </span>
  <br>
  <br>
  <button class="btn btn-lg btn-primary" type="submit">Add Listing</button>

</form>
{% endblock %}
