<!DOCTYPE html> {% extends "layout.html" %} {% block content %}
<form class="form-horizontal" method="post" role="form" autocomplete="off">

  <h2>Reactivate a Participant</h2>
  <br>

  <div class="form-group">
    <label for="comment"> Select a Participant</label>
    <select class="form-control" name="participantSelect">
      {% for category in agents %}
        <option>{{ category }}</option>
      {% endfor %}
    </select>
  </div>

  <br>
  <button class="btn btn-lg btn-primary" type="submit">Reactivate Participant</button>

</form>
{% endblock %}
