<!DOCTYPE html> {% extends "layout.html" %} {% block content %}


<form class="form-inline" role="form" method="post">
    <label><h3>See a user's past listings</h3></label>
    <select class="form-control" name="user">
      <option>----</option>
      {% for category in user %}
        <option>{{ category }}</option>
      {% endfor %}
    </select>
  <button class="btn btn-secondary" type="submit">Show Listings</button>



<div class="container">
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Ending Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in listings %}
      <tr>
        <td>{{ (item['ItemDescription']) }}</td>
        <td>{{ item['lastPrice'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>



    <label><h3>See a user's winningBids</h3></label>
    <select class="form-control" name="userBids">
      <option>----</option>
      {% for category in winningListings %}
        <option>{{ category }}</option>
      {% endfor %}
    </select>
  <button class="btn btn-secondary" type="submit">Show Listings</button>
</form>
<div class="container">
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Ending Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in wonBids %}
      <tr>
        <td>{{ (item['ItemDescription']) }}</td>
        <td>{{ item['lastPrice'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
